*{
    font-family: ui-sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    user-select: none;
    overflow-x: hidden;
    text-align: center;
}
body{
    background-color: #141414;
    overflow: hidden;
    min-width: 375;
}
#tst{
    font-size: 100rem;
}
#navbar{
    position: fixed;
    background: transparent;
    backdrop-filter: blur( 8px );
    height: 9vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 10000;
}
#mtit{
    color: rgb(197, 197, 197);
    font-size: 1.7rem;
    border-radius: 7px;
    font-weight: 500;
    background-color: transparent;
}
#ltxt{
    align-items: center;
    justify-content: center;
    display: flex;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    border-radius: 7px;
}
#mtit:hover{
    filter: drop-shadow(0px 0px 5px #BC13F3);
}
.bgimg{
    padding-top: 30px;
    background-image: url(./bgflu.jpg);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#wiptxt{
    color: white;
}
#formb{
    display: none;
}
#header{
    width: 550px;
    height: 300px;
    background-color: #141414;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 110;
}
#wipp{
    margin-top: 20px;
    margin-left: 35%;
}
#wipmob{
    display: none;
}
#wip{
    background-color: #111111;
    height: 180px;
    width: 200px;
    margin-left: 200px;
    margin-top: 213px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
}
#l1{
    color: white;
    margin-left: 5vw;
    margin-right: 5vw;
    line-height: 2rem;
    font-size: 1.1rem;
    margin-bottom: 20px;
}
#stat{
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    align-self: center;
    padding-top: 40px;
}
#gthub{
    color: white;    
}
#gthub:hover{
    filter: drop-shadow(7px 7px 10px #171717);
}
#det{
    color: white;
    font-size: 1.1rem;
    align-self: center;
}
#disc{
    color: white;
    position: fixed;
    right: 25px;
    bottom: 13px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 2px;
    border-radius: 7px;
}
#disc:hover{
    filter: drop-shadow(0px 0px 5px #7289d9);
}
#mc{
    color: white;
    align-self: center;
    padding-top: 15px;
}
#ntncont{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nthn{
    color: white;
    font-size: 7rem;
    font-weight: 600;
    align-self: center;
}
#own{
    color: white;
}
#bottom{
    margin-top: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bcent{
    height: 100%;
    width: 75%;
    display: flex;
}
#r{
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
#txtbtm{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 55%;
    font-size: .9rem;
}
#contbtm{
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    color: white;
}
#nh{
    color: white;
    font-size: .9rem;
    margin-right: 5px;
    margin-left: 40%;
}
#ups{
    color: transparent;
    font-size: .3rem;
}
#cpry{
    color: white;
}
#daga{
    color: rgb(116, 116, 116);
}
#daga:active{
    color: #7289d9;
}
#l{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img{
    background-repeat: no-repeat;
    background-size:contain;
    object-fit: contain;
}
#cont1{
    flex: 1;
    align-items: center;
    justify-content: center;
}
#cont2{
    flex: 1;
    background-color: #111111;
}
#contimg{
    height: 70%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    object-fit: contain;
}
#contimgs{
    height: 70%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    object-fit: contain;
}
#sysinf{
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: #111111;
    box-sizing: border-box;
    flex-direction: row;
}
#mcbot{
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: #111111;
    box-sizing: border-box;
    flex-direction: row;
}
#frmwrk{
    color: white;
}
#titcont{
    align-items: center;
    justify-content: center;
    display: flex;
}
#not{
    margin-top: 10px;
    color: rgb(92, 92, 92);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}
#mcapplogo{
    margin-left: 130px;
}
#systeminfoapplogo{
    margin-left: 130px;
}
#titmcapp{
    padding-top: 30px;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 200px;
}
#tit1{
    padding-top: 30px;
    color: white;
    font-size: 1.8rem;
    margin-left: 200px;
    font-weight: 700;
}
#tit1descout{
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 60px;
    height: 160px;
}
#featinf{
    height: 120px;
}
#lan1{
    height: 30px;
    display: flex;
}
#ft1,#ft2,#ft13,#ft109,#ft12,#ft22,#ft23,#ft21{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 80px;
    font-weight: 500;
}
#lan2{
    height: 30px;
    display: flex;
}
#lan3{
    height: 30px;
    display: flex;
}
#lan4{
    height: 30px;
    display: flex;
}

#featout,#verout{
    height: 40px;
    display: flex;
}
#feat,#ver{
    color: white;
    font-size: 1.8rem;
    font-weight: 650;
    margin-left: 40px;
}
#latver{
    display: flex;
    align-items: center;
    justify-content: center;
}
#lat{
    width: 60px;
    height: 24px;
    margin-left: 10px;
    border-radius: 35px;
    border: 1px solid #55ff55;
}
#lattit{
    color: #55ff55;
    font-size: .9rem;
}
#v100{
    color: white;
    font-weight: 500;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#v101{
    color: white;
    font-weight: 500;
    margin-left: 70px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#tit1desc{
    color: white;
    font-size: 1.1rem;
    line-height: 2rem;
    height: 160px;
}
#verinfo{
    height: 90px;
    display: flex;
    flex-direction: column;
}
#tit1descouts{
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 30px;
    height: 140px;
}
#tit1descs{
    color: white;
    font-size: 1.1rem;
    line-height: 2rem;
    height: 160px;
}
#btnsup{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
    height: 60px;
}
#btnsdwn{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    height: 60px;
}
#cpu{
    color: white;
    background-color: #141414;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7px;
    transition: all 1s ease;
    font-size: 1.1rem;
}
#os{
    color: white;
    background-color: #141414;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7px;
    transition: all 1s ease;
    font-size: 1.1rem;
}
#cpu:hover{
    filter: drop-shadow(0px 0px 3px white);
    transform: translateY(3px)
}
#mem{
    color: white;
    background-color: #141414;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7px;
    transition: all 1s ease;
    font-size: 1.1rem;
}
#network{
    color: white;
    background-color: #141414;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 1s ease;
    border-radius: 7px;
    font-size: 1.1rem;
}
#graphs{
    color: white;
    background-color: #141414;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7px;
    transition: all 1s ease;
    font-size: 1.1rem;
}
#mem:hover{
    filter: drop-shadow(0px 0px 3px white);
    transform: translateY(3px)
}
#disk{
    color: white;
    background-color: #141414;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    display: flex;
    border-radius: 7px;
    font-size: 1.1rem;
}
#disk:hover{
    filter: drop-shadow(0px 0px 3px white);
    transform: translateY(3px)
}
#spac{
    color: transparent;
}
#mbtn1{
    background-color: gray;
}
#os:hover{
    filter: drop-shadow(0px 0px 3px white);
    transform: translateY(3px)
}
#apcon{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#appdesc{
    color: rgb(99, 99, 99);
    font-size: 1.1rem;
}
#graphs:hover{
    filter: drop-shadow(0px 0px 3px white);
    transform: translateY(3px)
}
#network:hover{
    filter: drop-shadow(0px 0px 3px white);
    transform: translateY(3px)
}
#decont{
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
#imgtxt{
    color: white;
    font-size: 1.5rem;
    background-color: #151515;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    transition: all 1s ease;
}
#imgtxt:hover{
    transform: translateY(3px);
    filter: drop-shadow(0px 0px 5px white);
}
#dwnld{
    background-color: #111111;
    margin-top: 10px;
}
::-webkit-scrollbar {
    width: 7px;
  }
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(34, 34, 34); 
}
#mblbtnup{
    display: none;
}
#mblbtndwn{
    display: none;
}
#cont{
    display: none;
}
#whyus{
    margin-top: 10px;
    color: rgb(231, 231, 231);
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration-line: overline;
    text-decoration-color: #333; 
}
#whyusdesc{
    width: 100%;
    height: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
#r1{
    background-color: #111111;
    width: 90%;
    height: 100px;
    border-radius: 7px;
    filter: drop-shadow(0px 0px 3px #333);
    display: flex;
}
#icon0{
    color: white;
    margin-left: 70px;
    margin-right: 20px;
    margin-top: 25px;
}
#icon01{
    color: white;
    margin-left: 70px;
    margin-right: 0px;
    margin-top: 25px;
    padding-right: 3px;
}
#icon02{
    color: white;
    margin-left: 70px;
    margin-right: 20px;
    margin-top: 25px;
}
#r2{
    background-color: #111111;
    width: 90%;
    height: 100px;
    border-radius: 7px;
    filter: drop-shadow(0px 0px 3px #333);
    display: flex;

}
#r3{
    background-color: #111111;
    width: 90%;
    height: 100px;
    border-radius: 7px;
    filter: drop-shadow(0px 0px 3px #333);
    display: flex;

}
#desc1{
    color: rgb(155, 155, 155);
    margin-right: 25px;
    margin-left: 45px;
    margin-top: 40px;
    font-size: 1.1rem;
}
#desc01{
    color: rgb(155, 155, 155);
    margin-right: 25px;
    margin-left: 45px;
    margin-top: 40px;
    font-size: 1.1rem;
}
#desc02{
    color: rgb(155, 155, 155);
    margin-right: 25px;
    margin-left: 45px;
    margin-top: 40px;
    font-size: 1.1rem;
}
#icon1{
    color: #FFFDD0;
    margin-top: 40px;
}
#rm{
    display: none;
}
#lmb{
    display: none;
}
#liner{
    width: 100%;
    height: 3px;
    background-color: white;
}
@media screen and (max-width: 786px) {
    #sysinf{
        flex-direction: column;
        height: 85vh;
    }
    #tit1{
        padding-top: 0px;
        background-color: #111111;
        margin-top: 30px;
    }
    #tit1desc{
        margin-left: 10px;
        margin-right: 10px;
        line-height: 1.2rem;
        margin-top: 20px;
    }
    #imgtxt{
        display: none;
    }
    #appdesc{
        font-size: .9rem;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 1px;
        background-color: #111111;
    }
    #tit1descout{
        height: 225px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        background-color: #111111;
    }
    #tit1desc{
        margin-left: 5px;
        margin-right: 4px;
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: center;
    }
    #cont1{
        display: none;
    }
    #contimg{
        height: 97%;
        margin-top: 3px;
    }
    #cont2{
        flex: 1;
    }
    #notd{
        display: none;
    }
    #btnsup{
        margin-top: 0px;
        display: none;
    }
    #btnsdwn{
        margin-top: 0px;
    }
    #btnsdwn{
        display: none;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    #mblbtnup{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        height: 60px;
        color: rgb(197, 197, 197);
        justify-content: space-between;
        align-items: center;
    }
    #mblbtndwn{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        height: 60px;
        justify-content: space-between;
        color: rgb(197, 197, 197);
        align-items: center;
    }
    #cpum{
        width: 60px;
        border-radius: 50%;
        height: 60px;
        filter: drop-shadow(0px 0px 3px #333);
        align-items: center;
        justify-content: center;
        background-color: #141414;
        display: flex;
    }
    #memm{
        width: 60px;
        height: 60px;
        filter: drop-shadow(0px 0px 3px #333);
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
        background-color: #141414;
    }
    #osm{
        width: 60px;
        height: 60px;
        filter: drop-shadow(0px 0px 3px #333);
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
        background-color: #141414;
    }
    #diskm{
        width: 60px;
        height: 60px;
        filter: drop-shadow(0px 0px 3px #333);
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
        background-color: #141414;
    }
    #graphsm{
        width: 60px;
        height: 60px;
        filter: drop-shadow(0px 0px 3px #333);
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
        background-color: #141414;
    }
    #netm{
        width: 60px;
        height: 60px;
        filter: drop-shadow(0px 0px 3px #333);
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
        background-color: #141414;
    }
    #tit1desc{
        height: 155px;
    }
    #l1{
        line-height: 1.5rem;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    #header{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
    #stat{
        padding-top: 30px;
    }
    #navbar{
        z-index: 10000;
    }
    #decont{
        display: none;
    }
    #cont{
    display: flex;
    background-color: #111111;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    padding-bottom: 10px;
    }
    #img1{
        background-repeat: no-repeat;
        background-size:contain;
        object-fit: contain;
        height: 100%;
    }
    #dwnm{
        padding-bottom: 5px;
        padding-top: 5px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 15px;
        margin-left: 15px;
        height: 60px;
    }
    #btn{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 70px;
        padding-left: 70px;
        border-radius: 7px;
        color: white;
        background-color: #141414;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 600;
    }
    #btn:active{
        background-color: #181818;
    }
    #whyus{
        font-size: 1.5rem;
        margin-top: 5px;
        line-height: 1.8rem;
    }
    #whyusdesc{
        flex-direction: column;
        height: 90vh;
        justify-content: center;
    }
    #r1,#r3,#r2{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 180px;
    }
    #bcent{
        display: none;
    }
    #bottom{
        display: flex;
        flex-direction: column;
    }
    #imglm{
        margin-left: 10px;
    }
    #nh{
        margin-left: 0px;
    }
    #cprym{
        color: white;
        font-size: .8rem;
    }
    #txthp{
        margin-top: 20px;
    }
    #rm{
        height: 50%;
        display: flex;
    }
    #lmb{
        font-size: .8rem;
        height: 50%;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    #nhm{
        color: white;
        margin-right: 5px;
    }
    #icon0,#icon01,#icon02{
        color: white;
        margin: 0;
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: center;
    }
    #desc1,#desc01,#desc02{
        width: 60%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #smdisc{
        display: none;
    }
    #titmcapp{
    padding-top: 30px;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 0px;
    }
    #tit1{
    margin-left: 0px;
    }
    #mcapplogo{
    display: none;
    }
    #tit1descouts{
        width: 90%;
        margin-left: 5%;
        height: 240px;
    }
    #mcbot{
        flex-direction: column;
        height: 105vh;
    }
    #systeminfoapplogo{
        display: none;
    }
    #featout{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    #feat{
        margin-left: 0px;
    }
    #lan1{
        width: 90%;
    }
    #ft1{
        width: 50%;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        margin-left: 12%;
    }
    #ft12{
        margin-left: 11%;
    }
    #ft13{
        margin-left: 11%;
    }
    #ft2{
       margin-left: 0;
       display: flex;
       justify-content: center;
    }
    #ft109{
        display: none;
    }
    #formb{
        display: flex;
        color: white;
        font-weight: 500;
        width: 50%;
        align-items: center;
        display: flex;
        margin-left: 11%;
    }
    #ft21{
        display: flex;
        color: white;
        font-weight: 500;
        width: 50%;
        align-items: center;
        display: flex;
        margin-left: 9%;
    }
    #ft22{
        display: flex;
        color: white;
        font-weight: 500;
        width: 50%;
        align-items: center;
        display: flex;
        margin-left: 9%;
    }
    #ft23{
        display: flex;
        color: white;
        font-weight: 500;
        width: 50%;
        align-items: center;
        display: flex;
        margin-left: 9%;
    }
    #verout{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #ver{
        margin-left: 0;
    }
}   